.new-tweet {
  background: #adabab2e;
   border: 1px solid #808080ad;
   border-radius: 5px;
}

form textarea {
  border: 1px solid grey;
  width: 100%;
}

form {
  padding: 10px;
}


.title {
  margin-left: 10px;
  margin-bottom: 0px;
}

.form-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.submit-button {
  padding: 5px;
  background-color: #eeeeee;
}

.counter {
  padding: 5px;
  font-style: italic;
}

article {
  margin: 5% 0;
  border: 1px solid #4c4b4b;
  border-radius: 5px;
}

article header{
  background: #bbb8b85c;
}

.head-portrait {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  margin: 5px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-header {
  display: flex;
}

article {
  opacity: 0.7;
  margin-top: 3%;
}

.card-content {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: baseline;
}

.right-corner {
  margin-right: 2%;
}

.error-p1 {
  color: #d64444;
  margin: 0px;
  display: none;
}
.error-p2 {
  color: #d64444;
  margin: 0px;
  display: none;
}

.margin-p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 2%;
  margin-left: 2%;
}

.fa-flag:before {
  font-family: fontAwesome;
  margin: 0 5px;
}

.fa-retweet:before {
  font-family: fontAwesome;
  margin: 0 5px;
}

.fa-heart:before {
  font-family: fontAwesome;
  margin: 0 5px;
}
.time {
  display: inline-flex;
}
.icons {
  margin: 0 2%;
  color: #6dc797;
  font-size: 18px;
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
}

.content-p {
  margin: 8% 0px 8% 2%;
}